#register {
    background-color: #D6685a;
    padding: 11px 17px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;

    position: absolute;
    right: 8px;

    color: #FFFFFF;
    font-size: 18px;
    font-family: Outfit;
    font-weight: 500;
    word-wrap: break-word
}

#login {
    background-color: #D6685a;
    padding: 11px 17px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;

    position: absolute;
    right: 115px;

    color: #FFFFFF;
    font-size: 18px;
    font-family: Outfit;
    font-weight: 500;
    word-wrap: break-word
}

/*#logout {*/
/*    background-color: #09bc8a;*/
/*    color: #172a3a;*/
/*    padding: 11px 17px;*/
/*    margin: 8px 0;*/
/*    border: none;*/
/*    border-radius: 4px;*/
/*    cursor: pointer;*/
/*    text-decoration: none;*/

/*    position: absolute;*/
/*    right: 8px;*/
/*}*/

/*#profileBtn {*/
/*    background-color: #09bc8a;*/
/*    color: #172a3a;*/
/*    padding: 11px 17px;*/
/*    margin: 8px 0;*/
/*    border: none;*/
/*    border-radius: 4px;*/
/*    cursor: pointer;*/
/*    text-decoration: none;*/

/*    position: absolute;*/
/*    right: 105px;*/
/*}*/

/*#passwdsList {*/
/*    background-color: #09bc8a;*/
/*    color: #172a3a;*/
/*    padding: 11px 17px;*/
/*    margin: 8px 20px 8px 0;*/
/*    border: none;*/
/*    border-radius: 4px;*/
/*    cursor: pointer;*/
/*    text-decoration: none;*/

/*    position: absolute;*/
/*    right: 635px;*/
/*}*/

/*#addPasswd {*/
/*    background-color: #09bc8a;*/
/*    color: #172a3a;*/
/*    padding: 11px 17px;*/
/*    margin: 8px 20px 8px 0;*/
/*    border: none;*/
/*    border-radius: 4px;*/
/*    cursor: pointer;*/
/*    text-decoration: none;*/

/*    position: absolute;*/
/*    right: 490px;*/
/*}*/

/*#generatePass {*/
/*    background-color: #09bc8a;*/
/*    color: #172a3a;*/
/*    padding: 11px 17px;*/
/*    margin: 8px 0;*/
/*    border: none;*/
/*    border-radius: 4px;*/
/*    cursor: pointer;*/
/*    text-decoration: none;*/

/*    position: absolute;*/
/*    right: 400px;*/
/*}*/

/*#passwds {*/
/*    background-color: #09bc8a;*/
/*    color: #172a3a;*/
/*    padding: 14px 20px;*/
/*    margin: 8px 0;*/
/*    border: none;*/
/*    border-radius: 4px;*/
/*    cursor: pointer;*/
/*    text-decoration: none;*/
/*}*/

/*#logo {*/
/*    width: 110px;*/
/*    height: 85px;*/
/*}*/

/*#content {*/
/*    color: #172a3a;*/
/*}*/

/*#contentRegister,*/
/*#contentLogin {*/
/*    border-radius: 5px;*/
/*    background-color: #508991;*/
/*    padding: 20px;*/
/*    color: #172a3a;*/

/*}*/

input[type=text],
input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid #D6685a;
    border-radius: 4px;
    box-sizing: border-box;
    color: #0d0d0d;
}

/*input[type=checkbox]{*/
/*    width: 14px;*/
/*    padding: 12px 20px;*/
/*    margin: 8px 0;*/
/*    display: inline-block;*/
/*    outline: 2px solid #D6685a;*/
/*    border-radius: 0;*/
/*    border: none;*/
/*    !*box-sizing: border-box;*!*/
/*    color: #0d0d0d;*/
/*}*/

.custom-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.custom-checkbox + label {
    display: inline-flex;
    align-items: center;
    user-select: none;

    padding-top: 8px;
    padding-bottom: 8px;
}

.custom-checkbox + label::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #D6685a;
    border-radius: 0.25em;
    margin-right: 0.5em;
    margin-left: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

#remember_me + #remember_me_label::before{
    margin-left: 0;
}

.custom-checkbox:checked + label::before {
    border-color: #D6685a;
    background-color: #D6685a;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

#remember_me_label,
#useLower_label,
#useUpper_label,
#useDigits_label,
#usePunctuation_label,
#length_label {
    color: #FFFFFF;
    font-size: 16px;
    font-family: Outfit;
    font-weight: 200;
    word-wrap: break-word
}

#registerBtn,
#loginBtn {
    width: 100%;
    background-color: #D6685a;

    padding: 12px 20px;
    margin: 8px 0;
    border: none;
    /*border-radius: 4px;*/
    cursor: pointer;

    color: #FFFFFF;
    font-size: 18px;
    font-family: Outfit;
    font-weight: 500;
    word-wrap: break-word
}


/*#addPass {*/
/*    width: 30%;*/
/*    background-color: #09bc8a;*/
/*    color: #172a3a;*/
/*    padding: 14px 20px;*/
/*    margin: 8px 0;*/
/*    border: none;*/
/*    border-radius: 4px;*/
/*    cursor: pointer;*/
/*}*/

/*#generate {*/
/*    width: 5%;*/
/*    background-color: #09bc8a;*/
/*    color: #172a3a;*/
/*    padding: 14px 20px;*/
/*    margin: 8px 0;*/
/*    border: none;*/
/*    border-radius: 4px;*/
/*    cursor: pointer;*/
/*}*/

#formLogin, #formReg {
    position: center; /* set the form's position to absolute */
    top: 0; /* set the top position to 0 */
    bottom: 0; /* set the bottom position to 0 */
    left: 0; /* set the left position to 0 */
    right: 0; /* set the right position to 0 */
    margin: auto; /* set the margins to "auto" */
    width: 20%; /* set the width of the form */
    height: 50%; /* set the height of the form */
}

#passwdsForm {
    position: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 40%;
    height: 50%;
}

/*.error {*/
/*    color: red;*/
/*    display: block;*/
/*    margin-top: 5px;*/
/*}*/

.error {
    display: block;
    margin-top: -8px; /* Змініть значення за потреби, щоб підняти помилку ближче до форми */
    font-size: 14px; /* Зменшити розмір шрифту на 2 пікселі */
    color: red; /* Колір тексту помилки */
}

/***************************NEW STYLE**************************************************/
/*.PassListLabel {*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*}*/

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

@font-face {
    font-family: 'Outfit', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

h1 {
    width: 100%;

    padding-bottom: 32px;

    color: #FFFFFF;
    text-align: center;
    font-family: Outfit;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#title {
    width: unset;
    padding-top: 200px;
    padding-left: 130px;

    text-align: left;
    color: #FFF;
    font-family: Outfit;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 76px; /* 120% */
}

h2 {
    padding-top: 32px;
    padding-left: 130px;
    padding-bottom: unset;

    color: #FFF;
    font-family: Outfit;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 42px;
}

#header {
    background-color: #0d0d0d;

    color: #D6685a;

    width: 100%;
    height: 60px;

}

body {
    background-color: #0d0d0d;
}

#footer {
    background-color: #0d0d0d;

    color: #FFFFFF;

    position: absolute;
    top: 99vh;
    transform: translateY(-100%);
    width: 100%;
    height: 30px;
}

#copyright {
    padding-left: 130px;
}


.passwdsList {
    width: 99.7%;
    height: 740px;
    opacity: 0.80;

    background: linear-gradient(180deg,
    rgba(99.01, 99.01, 99.01, 0.08) 0%,
    rgba(0, 0, 0, 0) 100%,
    rgba(144.70, 142.53, 142.53, 0) 100%),
    linear-gradient(0deg,
            rgba(77.76, 77.76, 77.76, 0.20) 0%,
            rgba(77.76, 77.76, 77.76, 0.20) 100%);

    border-radius: 60px;
    border: 2px rgba(182.95, 182.95, 182.95, 0.20) solid;
    backdrop-filter: blur(28px)
}

#savedPass {

}

#passwSearch {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    width: 580px;
    padding: 16px 0px 16px 24px;
    align-items: center;
    gap: 16px;

    border-radius: 30px;
    border: 3px solid #FFF;
    background: #FFF;
}

#labeName {
    width: 205px;
    color: white;
    font-size: 24px;
    font-family: Outfit;
    font-weight: 600;
    word-wrap: break-word
}

#labePassword {
    width: 308px;
    color: white;
    font-size: 24px;
    font-family: Outfit;
    font-weight: 600;
    word-wrap: break-word
}

#labeTime {
    width: 134px;
    text-align: right;
    color: white;
    font-size: 24px;
    font-family: Outfit;
    font-weight: 600;
    word-wrap: break-word
}

#name, #passwd, #timestamp {
    flex: 1 0 0;

    color: #FFF;
    font-family: Outfit;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    padding: 16px 32px;
    align-items: center;
    gap: 16px;
    align-self: stretch;

    border-radius: 51px;
    border: 2px solid #FFF;
}

.itemCell, .passListLabel {
    display: flex;
    width: 1080px;
    align-items: center;
    gap: 24px;
    margin-bottom: 16px;
}

#addPass {
    width: 376px;
    background-color: #D6685a;

    position: relative;
    left: 391px;

    padding: 12px 20px;
    margin: 8px 0;
    border: none;
    /*border-radius: 4px;*/
    cursor: pointer;

    color: #FFFFFF;
    font-size: 18px;
    font-family: Outfit;
    font-weight: 500;
    word-wrap: break-word
}

#generate {
    width: 376px;
    background-color: #D6685a;

    position: relative;
    left: 143px;

    padding: 12px 20px;
    margin: 8px 0;
    border: none;
    /*border-radius: 4px;*/
    cursor: pointer;

    color: #FFFFFF;
    font-size: 18px;
    font-family: Outfit;
    font-weight: 500;
    word-wrap: break-word
}

#length_label{
    position: relative;
    bottom: 3px;

    padding: 8px 0;
}

#length{
    position: relative;
    bottom: 2.5px;

    margin-left: 0.4em;
    margin-right: 0.4em;
    margin-top: 8px;
    margin-bottom: 8px;

    width: 62px;
    height: 19px;

    border: 1px solid #D6685a;
    border-radius: 4px;
    box-sizing: border-box;
}

input {
    color: #0d0d0d;
    font-size: 18px;
    font-family: Outfit;
    font-weight: 300;
    word-wrap: break-word
}