h1, label {
    color: #172a3a;
    text-align: center;
}

body {
    background-color: #508991;
}

#passwds, #register, #login {
    background-color: #09bc8a;
    color: #172a3a;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#footer {
    color: #172a3a;
}

#logo {
    width: 100px;
    height: 90px;
}

#content {
    color: #172a3a;
}

#contentRegister,
#contentLogin {
    border-radius: 5px;
    background-color: #508991;
    padding: 20px;
    color: #172a3a;
}

input[type=text],
input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #74b3ce;
    border-radius: 4px;
    box-sizing: border-box;
    color: #172a3a;
}

#registerBtn,
#loginBtn{
    width: 100%;
    background-color: #09bc8a;
    color: #172a3a;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#addPass{
    width: 30%;
    background-color: #09bc8a;
    color: #172a3a;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}