<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html" charset="UTF-8"/>
    <title>Passwds</title>

    <link rel="stylesheet"
          type="text/css"
          th:href="@{../static/css/style.css}"/>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<div id="header" th:include="page :: header"></div>

<div id="content">
    <div class="passwdForm">
        <h1>Add Passwd</h1>
        <form id="passwdsForm" method="post" th:object="${passwdForm}" th:action="@{/passwds/add}">
            <div>
                <input id="resourceName_field" type="text" th:field="*{resourceName}" placeholder="App name"/>
                <span class="error" th:if="${#fields.hasErrors('resourceName')}" th:errors="*{resourceName}"></span>
            </div>

            <div>
                <input id="passwd_field" type="text" th:field="*{passwd}" placeholder="Password"/>
                <span class="error" th:if="${#fields.hasErrors('passwd')}" th:errors="*{passwd}"></span>
            </div>

            <input id="addPass" type="submit" value="Add password"/>
        </form>

        <div id="checkbox_line">
            <tr>
                <td colspan='2'>
                    <input class="custom-checkbox" id="useLower" name="useLower" type="checkbox"/>
                    <label id="useLower_label" for="useLower">a-z</label></td>
            </tr>

            <tr>
                <td colspan='2'>
                    <input class="custom-checkbox" id="useUpper" type="checkbox"/>
                    <label id="useUpper_label" for="useUpper">A-Z</label></td>
            </tr>

            <tr>
                <td colspan='2'>
                    <input class="custom-checkbox" id="useDigits" type="checkbox"/>
                    <label id="useDigits_label" for="useDigits">0-9</label></td>
            </tr>

            <tr>
                <td colspan='2'>
                    <input class="custom-checkbox" id="usePunctuation" type="checkbox"/>
                    <label id="usePunctuation_label" for="usePunctuation">@%</label></td>
            </tr>

            <tr>
                <input id="length" name="length" type="number" min="1" max="20"/>
                <label id="length_label" for="length">Length</label></td>
            </tr>
        </div>

        <button id="generate">Generate</button>


    </div>
</div>

<script th:inline="javascript">
    document.getElementById('generate').addEventListener('click', function () {
        var useLower = document.getElementById('useLower').checked;
        var useUpper = document.getElementById('useUpper').checked;
        var useDigits = document.getElementById('useDigits').checked;
        var usePunctuation = document.getElementById('usePunctuation').checked;
        var length = document.getElementById('length').value;

        fetch('/passwds/generatePassword?useLower=' + useLower + '&useUpper=' + useUpper + '&useDigits=' + useDigits + '&usePunctuation=' + usePunctuation + '&length=' + length)
            .then(response => response.text())
            .then(generatedPassword => {
                document.getElementById('passwd_field').value = generatedPassword;
            })
            .catch(error => {
                console.error('Error:', error);
            });
    });
</script>

<div class="footer" th:include="page :: copy"></div>
</body>
</html>