<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html" charset="UTF-8"/>
    <title>Passwds</title>

    <link rel="stylesheet"
          type="text/css"
          th:href="@{../static/css/style.css}"/>
</head>
<body>
<div id="header" th:include="page :: header"></div>

<div class="listTitle">
    <h1 id="savedPass">Saved Passwds</h1>

    <div class="passwdsListForm">

        <input id="passwSearch" onsubmit="return event.key === 'Enter'" type="text" placeholder="Search"/>

        <div class="passListLabel">
            <label id="labeName">Name:</label>
            <label id="labePassword">Password:</label>
            <label id="labeTime">Timestamp:</label>
        </div>

        <div th:each="passwds : ${response.passwdsList}" th:id="'passwd_' + ${passwds.id}" class="grid-item">
            <div class="itemCell">
                <span id="name" class="resource_name" th:text="${passwds.resourceName}"></span>

                <span id="passwd" class="passwd" th:text="${passwds.passwd}"></span>

                <span id="timestamp" class="time" th:text="${passwds.creation_date}"></span>
            </div>
        </div>

        <!--         Pagination -->
        <div class="pagination_container">
            <nav aria-label="Pagination" th:if="${response.totalPages > 1}">
                <ul class="page">

                    <li class="page-item" th:classappend="${response.pageNumber + 1 == 1} ? 'disabled'">
                        <a th:classappend="${response.pageNumber + 1 == 1} ? 'disabled'"
                           th:replace="paging :: paging(1, '<<', 'First Page')"></a>
                    </li>

                    <li class="page-item" th:classappend="${response.pageNumber + 1 == 1} ? 'disabled'">
                        <a th:replace="paging :: paging(${response.pageNumber}, '<', 'Previous Page')"></a>
                    </li>

                    <li class="page-item" th:if="${response.pageNumber - 2 > 1}">
                        <a class="page-link" href="">...</a>
                    </li>

                    <li class="page-item"
                        th:each="page : ${#numbers.sequence(response.pageNumber > 2 ? response.pageNumber - 2 : 1, response.pageNumber + 2 < response.totalPages ? response.pageNumber + 2 : response.totalPages)}"
                        th:classappend="${response.pageNumber + 1 == page} ? 'current'">
                        <a th:replace="paging :: paging(${page}, ${page}, 'page ' + ${page})"></a>
                    </li>

                    <li class="page-item" th:if="${response.pageNumber + 2 < response.totalPages}">
                        <a class="page-link" href="">...</a>
                    </li>

                    <li class="page-item"
                        th:classappend="${response.pageNumber + 1 == response.totalPages} ? 'disabled'">
                        <a th:replace="paging :: paging(${response.pageNumber + 2},'>', 'Next Page')"></a>
                    </li>

                    <li class="page-item"
                        th:classappend="${response.pageNumber + 1 == response.totalPages} ? 'disabled'">
                        <a th:replace="paging :: paging(${response.totalPages}, '>>', 'Last Page')"></a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

</div>

<div class="footer" th:include="page :: copy"></div>
</body>
</html>