<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html" charset="UTF-8"/>
    <title>Profile</title>

    <link rel="stylesheet"
          type="text/css"
          th:href="@{../static/css/style.css}"/>
</head>
<body>
<div id="header" th:include="page :: header"></div>

<h1>My Profile</h1>

<div id="content">
    <div class="p_username">
        <label>Username</label>:
        <span id="profile_username" th:text="${user.username}">username</span><br/>
    </div>

    <div class="p_passw">
        <label>Email</label>:
        <span id="profile_password" th:text="${user.email}">email</span>
    </div>

</div>

<div class="footer" th:include="page :: copy"></div>
</body>
</html>